---
layout: default
---

<article class="post single" role="article" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <ul>
            <li><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b, %Y" }}</time></li>
            {% if site.show_categories == 1 and page.category %}
                {% if page.category %}
                <li class="cats">
                    {% for category in page.category %}
                        <a href="{{site.baseurl}}/{{site.category_dir}}/{{category}}/">{{ category }}</a>
                    {% endfor %}
                </li>
                {% endif %}
            {% endif %}
        </ul>
        <h2 itemprop="name headline">{{ page.title }}</h2>
        <form align="right">
            <select id="lang-switch">
                <option value="eng" selected> English </option>
                <option value="kor"> 한국어 </option>
            </select>
        </form>
    </header>

    <div class="post-content">
        {% assign contentArray = page.content | markdownify | split: site.language_separator %}
        <div lang="eng">
            {{ contentArray.first }}
        </div>
        <div lang="kor">
            <p>(* 기계 번역된 한국어이니, 다소 어눌한 점 이해 부탁드립니다.)</p>
            {{ contentArray.last }}
        </div>
    </div>

    <footer class="post-footer">
        <div class="share">Share
            <ul class="social-networks">
                <li class="share-facebook"><a href="https://www.facebook.com/sharer.php?s=100&p[title]={{page.title | strip_html }}&p[summary]={{page.content | strip_html | truncate: 140 }}&p[url]={{ page.url | prepend: site.baseurl | prepend: site.url }}" class="s_facebook" target="_blank" onclick="window.open(this.href, '','width=700,height=300');return false;"><svg title="" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl | prepend: site.url }}/assets/svg/social-icons.svg#facebook-icon"></use></svg></a></li>
                <li class="share-twitter"><a href="http://twitter.com/share?url={{page.url | prepend: site.baseurl | prepend: site.url | escape}}&text={{ page.content | strip_html | truncate: 140 }}&hashtags={% for tag in page.tags %}{{ tag }},{% endfor %}" rel="noreferrer" target="_blank" onclick="window.open(this.href, '','width=700,height=300');return false;"><svg title="" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl | prepend: site.url }}/assets/svg/social-icons.svg#twitter-icon"></use></svg></a></li>
            </ul>
        </div>
        {% if site.show_tags == 1 and page.tags %}
        <div class="tags">
            <ul>
                {% for tag in page.tags %}
                <li><a href="{{ site.baseurl | prepend: site.url }}/tag/{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </footer>
</article>

{% if page.comments and site.show_comments == 1 %}
<aside class="comments" role="complementary">
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{ page.url | prepend: site.baseurl | prepend: site.url }}';
            this.page.identifier = '{{ page.date | date: "%-m/%-d/%Y" }}';
        };
        (function() {
            var d = document, s = d.createElement('script');

            s.src = '//{{site.disqus}}.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
</aside>
{% endif %}

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
$('[lang]').hide(); // hide all lang attributes on start.
$('[lang="eng"]').show(); // show just Korean text (you can change it)
$('#lang-switch').change(function () { // put onchange event when user select option from select
    var lang = $(this).val(); // decide which language to display using switch case. The rest is obvious (i think)
    switch (lang) {
        case 'eng':
            $('[lang]').hide();
            $('[lang="eng"]').show();
        break;
        case 'kor':
            $('[lang]').hide();
            $('[lang="kor"]').show();
        break;
        default:
            $('[lang]').hide();
            $('[lang="eng"]').show();
        }
});
</script>